.content {
  background-color: #333333;
  border-radius: 0.6em;
}

.header {
  color: #fff;
}

:global(.modal-header > h4 + button.close) {
  color: white !important;
  opacity: 1;
} /* This global css rule required to recolor close button */
