.header {
  background-color: #00E000;
  /* ONLY sticky within parent, then disappears. So for a navbar, parent needs to grow/contain all content! */
  position: sticky;
  color: #000 !important;
}

.brand {
  color: white !important;
  background-color: #000;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 0.25rem;
}
.brand:hover {
  color: lime !important;
}

.navItem:hover, .navItem:active {
  border-width: 2px !important;
  border-color: white !important;
  color: black;
}

.navButton {
  color: #000;
  font-weight: 550;
  display: flex;
  justify-content: center; /* horizontal text align */
  align-items: center; /* Vertical text align */
}

.navButton:hover {
  color: black;
  text-decoration: none;
}

.activeNavButton {
  background-color: black;
  color: white;
}
.activeNavButton:hover {
  color: lime;
}
