<%# This ActionView is injected into the layout 'mailer.html.erb' yield section %>

<main>
  <h2 class='title-header'>Portfolio Contact Form Email</h2>
  <section class='message-container'>
    <div class="sender-container">
      <h4 class="field-header">From: </h4>
      <h4 class="email-header"> <%= @sender[:email] %> </h4>
    </div>
    <h4 class="field-header d-inline-block">Message: </h4>
    <p class="message-body"> <%= sanitize @sender[:message], tags: [], attributes: [] %> </p>
  </section>
  <p class="app-footer-note">© <%= Time.zone.now.year %> Nicholas Caceres. All rights reserved.</p>
</main>

<%# Can add links or even override <style> in the main <head> tag of the 'mailer.html.erb' layout %>
<% content_for :head do %>
  <style>
    section {
      max-width: 650px;
    }
    h2 {
      margin-top: 0.5rem;
    }
    p {
      margin-top: 0.5rem;
    }
    .title-header {
      font-weight: 600;
      padding: 4px 8px 2px;
      border-bottom: 2px solid rgb(153, 0, 0);
      border-radius: 5px;
    }
    .message-container {
      border-left: 1.5px solid rgb(153, 0, 0);
      border-right: 1.5px solid rgb(153, 0, 0);
      border-bottom: 1.5px solid rgb(153, 0, 0);
      border-radius: 1rem;
    }
    .sender-container {
      display: flex;
      align-items: baseline;
      margin: 0.5rem 0 1rem;
    }
    .field-header {
      color: #000000;
      font-weight: 550;
      padding: 4px 5px 2px;
      border-bottom: 1.5px solid #00E000;
      border-radius: 4px;
    }
    .email-header {
      color: #000000;
      font-weight: 500;
      margin: 0 0.5rem;
      padding: 4px 5px 2px;
      border-bottom: 1.5px solid rgb(153, 0, 0);
      border-radius: 4px;
    }
    .message-body {
      padding: 0 1rem;
    }
    .app-footer-note {
      color: #00000033;
      margin-top: 1rem;
    }
  </style>
<% end %>