.postCard {
  background-color: #f9fae8;
}

/* If necessary min-height
may be helpful at 250px instead */
.cardImg {
  min-height: 75%;
  max-height: 400px;
  max-width: 100%;
}
.cardImgBackupStyle {
  height: 100%;
  max-height: 250px;
  width: 100%;
  max-width: 350px;
}
.cardText {
  white-space: pre-wrap; /* Preserves whitespace, allow line breaks at newline, br tag, and at line end */
}
img:hover.clickable {
  filter: brightness(50%);
}

.githubLink {
  background-color: #7F0799 !important;
}

.pageLink {
  background-color: #F50000 !important;
}

.blockButton {
  max-width: 127px;
}
.blockButton:hover, .blockButton:active {
  border-color: #00E000 !important;
  border-width: 4px;
}
