.header {
  font-size: calc(1.575rem + 3.9vw); /* Equal to BS-5 display-2 */
}
@media only screen and (min-width: 769px) {
  .header {
    font-size: calc(1.525rem + 3.3vw); /* Equal to BS-5 display-3 */
  }
}

.postCard {
  min-height: 300px;
}

.smallHeader {
  font-size: calc(1.375rem + 1.5vw); /* Equal to BS-5 h1 class */
}
@media only screen and (min-width: 768px) {
  .smallHeader {
    font-size: calc(1.325rem + .9vw); /* Equal to BS-5 h2 class */
  }
  /* "nth-child" selects elements that match the primary selector (i.e. this postCard class) in ANY container if it appears as the "nth child"
  * The real PostCard places flex-direction: row-reverse for its "odd children" BECAUSE it only has 1 header sibling
  * On the other hand, the placeholder PostCard has two header siblings causing the 1st PostCard to be the 3rd item in the container */
  .postCard:nth-child(odd) > :global(.row) {
    flex-direction: row;
  }
  .postCard:nth-child(even) > :global(.row) {
    flex-direction: row-reverse;
  }
}

.cardRow {
  min-height: 300px;
}