.postCard {
  background-color: #f9fae8;
}

.cardImg { /* Handles mobile */ 
  min-height: 250px;
  max-height: 55vh; /* Goal: 500px mobile, 550px smallTablet */
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .cardImg { /* Handles tablets & desktop */ 
    min-height: 300px;
    max-height: 50vh;
  }
}

.cardText {
  white-space: pre-wrap; /* Preserves whitespace, allow line breaks at newline, br tag, and at line end */
}
img:hover.clickable { /* Exported CssClass = .clickable */
  filter: brightness(50%);
}

.githubLink {
  background-color: #7F0799 !important;
  border-color: gray !important;
}

.pageLink {
  background-color: #F50000 !important;
  border-color: gray;
}

.blockButton {
  max-width: 127px;
}
.blockButton:hover, .blockButton:active {
  border-color: #00E000 !important;
  border-width: 4px;
}