.postCard {
  background-color: #f9fae8;
}

/* This base .cardImgContainer class handles very small mobile devices height/width + defaults for alignment & margin */
/* Using the parent selector (.postCard class) ensures higher precedence w/out using "!important" */
/* PLUS reduce jank when changing images in a carousel by setting min/max width/height for consistent sizing, no overflow & good 3:4 aspect-ratio */
.postCard .cardImgContainer {
  min-width: 280px;
  max-width: 280px;
  max-height: 375px;
  min-height: 375px;
  align-self: center;
}
/* As a bonus, at small sizes, ensure height is ready regardless if carousel or simple img */
@media only screen and (min-width: 360px) and (max-width: 575px) {
  .postCard .cardImgContainer {
    min-width: 330px;
    max-width: 330px;
    max-height: 450px;
    min-height: 450px;
  }
}
/* As an extra bonus! At tablet sizes, let width grow for cool horizontal scrolling projector effect */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .postCard .cardImgContainer {
    max-width: 425px;
    max-height: 550px;
    min-height: 550px;
  }
}
/* For bigger viewports (tablet/desktop) ensure height isn't too small or too big SO
  still get consistent sizing but avoid stretching aspect-ratio. Overflow isn't really a concern */
@media only screen and (min-width: 768px)  {
  .postCard .cardImgContainer {
    min-height: 200px;
    max-height: 425px;
    min-width: 100%
  }
  /* nth-child selects elements that match the primary selector (i.e. this postCard class) in ANY container if it appears as the "nth child" 
  * This PostCard uses flex-direction: row-reverse for its "odd children" BECAUSE there's 1 header sibling before the PostCards start
  * Ex: <h1> then <PostCard> then <PostCard> so the 1st PostCard == 2nd child of the container i.e. even, AND the 2nd PostCard == 3rd i.e. odd */
  .postCard:nth-child(odd) > :global(.row) {
    flex-direction: row-reverse;
  }
  .postCard:nth-child(even) > :global(.row) {
    flex-direction: row;
  }
}

.imgTopMargin {
  margin-top: 1rem;
}
@media only screen and (min-width: 576px) {
  .imgTopMargin { 
    margin-top: 0;
  }
}

.cardText {
  white-space: pre-wrap; /* Preserves whitespace, allow line breaks at newline, br tag, and at line end */
}
.clickable>img:hover {
  filter: brightness(75%);
}

.githubLink {
  background-color: #7F0799 !important;
  border-color: gray !important;
}

.pageLink {
  background-color: #F50000 !important;
  border-color: gray;
}

.blockButton {
  max-width: 127px;
}
.blockButton:hover, .blockButton:active {
  border-color: #00E000 !important;
  border-width: 4px;
}
