.postCard {
  background-color: #f9fae8;
}

/* If necessary min-height
may be helpful at 250px instead */
.cardImg {
  min-height: 75%;
  max-height: 400px;
  max-width: 100%;
}
.cardText {
  white-space: pre-wrap; /* Preserves whitespace, allow line breaks at newline, br tag, and at line end */
}
img:hover.clickable { /* Exported CssClass = .clickable */
  filter: brightness(50%);
}

.githubLink {
  background-color: #7F0799 !important;
  border-color: gray;
}

.pageLink {
  background-color: #F50000 !important;
  border-color: gray;
}

.blockButton {
  max-width: 127px;
}
.blockButton:hover, .blockButton:active {
  border-color: #00E000 !important;
  border-width: 4px;
}