.formLabel {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
  margin-left: -0.5rem;
}
:global(.dark) .formLabel {
  color: black;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 575px) {
  .button-container {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.submitButton {
  max-height: 40px;
  font-weight: bolder;
  color: white;
  background-color: #00E000 !important;
  border-color: white !important;
  border-width: 2px;
}
@media only screen and (max-width: 575px) {
  .submitButton {
    margin-top: 0.5rem;
  }
}
:global(.dark) .submitButton {
  border-color: black !important;
}

.submitButton:disabled:hover {
  border-color: white !important;
  border-width: 2px;
  color: white !important;
}

.submitButton:active, .submitButton:hover {
  color:#262626 !important;
  border-width: 4px;
  background-color: #00E000 !important;
  border-color: white !important;
}
