.container {
  padding: 5px 10px 5px 10px;
  flex-grow: 1;
}
@media only screen and (min-width: 576px) {
  .loadingImage {
    max-width: 400px !important;
  }
  .pupImage {
    max-width: 400px !important; /*? backgroundImage css gets superseded by this media query (See line 19) */
  }
}
.loadingImage {
  max-height: 450px; /* Limits height */
  border: 3.5px solid white;
}
.pupImage {
  max-height: 450px; /* Limits height */ /*? If width constraint needed MUST use '!important' or backgroundImage css will override it */
  background-color: #00E000; /* Ensures alt text is readable if img fails to load */
  border: 3.5px solid white;
}

.caption {
  margin-top: 10px;
}
