.container {
  padding: 5px 10px 5px 10px;
  flex-grow: 1;
}
@media only screen and (min-width: 576px) {
  .image {
    max-width: 400px !important; /*? backgroundImage css gets superseded by this media query (See line 19) */
  }
}
.image {
  max-height: 450px; /* Limits height */ /*? If width constraint needed MUST use '!important' or backgroundImage css will override it */
  border: 3.5px solid white;
}

.caption {
  margin-top: 10px;
}
