<!DOCTYPE html>
<html>
  <head>
    <title>Resume with React+Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Following required adding link_tree sprockets directive to assets/manifest.js to load img assets %>
    <%= favicon_link_tag "icon/favicon.ico" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>