.navFooter {
  background-color: #00E000;
  margin-top: 1.5rem;
}

.navbarText {
  font-style: italic;
}

@media only screen and (min-width: 992px) {
  .navbarText {
    font-weight: 500;
  }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .navbarText {
    font-weight: 400;
    font-size: 0.85rem;
  }
}
@media (min-width: 576px) {
  .navbarText {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
}

.navFooter .contactButton {
  font-weight: 550;
}
.navFooter .contactButton:hover, .contactButton:active {
  border-width: 2px;
  border-color: white !important;
  color: black !important;
  background-color: transparent !important;
}
.navFooter .contactButton:focus, .contactButton:focus:active {
  box-shadow: none !important;
  border-width: 2px;
  border-color: white !important;
  color: black !important;
  background-color: transparent !important;
}