name: Run Ruby on Rails & React Tests before Deploying to Railway

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  ruby_on_rails_test:
    name: Run Ruby on Rails Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        # Docker Hub image
        image: postgres:15-alpine
        # Set the password for the Postgres service
        env:
          POSTGRES_PASSWORD: postgres
        # Maps TCP port 5432 on service container to the host
        ports:
          - 5432:5432
        # Set health checks to wait until Postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    # Apply the following ENV vars to all of the following steps of this job
    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/resume_react_rails-test

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby based on ruby-version file
        uses: ruby/setup-ruby@v1
      - name: Set deployment config
        run: bundle config set deployment true
      - name: Set dependency groups
        run: bundle config set without development
      - name: Install Bundle dependencies
        run: bundle install --jobs 1
      - name: Setup Database
        run: bin/rails db:setup
      - name: Run Ruby on Rails tests
        run: bin/rails test


  react_tests:
    name: Run React Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['20.x', 22.x, '24.x']

    steps:
      - uses: actions/checkout@v6
      - name: Use PNPM 10
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install PNPM dependencies
        run: pnpm -C react-client install --frozen-lockfile
      - name: Run React tests
        run: pnpm -C react-client test


  deploy:
    name: Deploy to Railway
    needs: [ruby_on_rails_test, react_tests]
    runs-on: ubuntu-latest
    environment: production
    strategy:
      matrix:
        node-version: ['24.x']

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Railway CLI
        run: npm i -g @railway/cli
      - name: Deploy Portfolio to Railway
        run: railway up --service web
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
