<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <style>
      /* Email styles need to be inline */
      body {
        background: #edf2f7;
        font-family: Tahoma, sans-serif;
      }
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      section {
        background: #ffffff;
        margin: 0 1rem;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 0 rgba(0, 0, 255, 0.05), 4px 4px 0 rgba(0, 0, 255, 0.05);
      }
      .d-inline-block {
        display: inline-block;
      }
      h4 {
        margin: 0;
      }
    </style>

    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
